.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
  .cart__container {
    @include flex(unset, unset, column);
    @include p_m(0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    z-index: 999999;

    .cart__close {
      width: 100%;
      height: 60px;
      padding: 10px 20px;
      box-sizing: border-box;
      .cart__close-icon {
        @include flex(center, center, column);
        width: 25px;
        height: 25px;
        background: #212245;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
      }
    }

    .cart__item-list {
      height: calc(100vh - 140px);
      overflow-y: auto;
      .cart__item-list--empty{
        width: 100%;
        height: 100%;
        color: #CCCCCC;
        font-size: 5rem;
        @include flex(center, center, column);
      }
    }
    .cart__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px 20px;
      width: 100%;
      height: 80px;
      background: #df2020;
      box-sizing: border-box;
    }
  }
}

.cart__item {
  display: flex;
  gap: 8px;
  .cart__item-img {
    width: 20%;
    @include flex(center, center, row);
    img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
  }
  .cart__item-info {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    .cart__item-title,
    .cart__item-price {
      flex-basis: 100%;
    }
    .cart__item-title {
      font-size: 0.7rem;
      font-weight: 600;
      margin-bottom: 6px;
    }

    .cart__item-price {
      margin-bottom: 10px;
      font-size: 0.9rem;
      .cart__item-text--price {
        @include p_m(0, 0);
        @include flex(unset, unset, row);
        gap: 24px;
        .cart__item-text--totalPrice{
            color: #df2020;
            font-weight: 600;
        }
      }
    }

    .cart__item-add-sub-btn {
      flex-basis: 30%;
      background: #0a75ad;
      border-radius: 4px;
      padding: 2px 6px;
      color: #fff;
      @include flex(center, space-between, row);


      .cart__item-add-btn, .cart__item-sub-btn{
        height: 100%;
        cursor: pointer;
        @include flex(center,unset, row);
      }
    }
  }

  .cart__item-add-sub-btn {
    display: flex;
  }
  .cart__item-deleteBtn {
    cursor: pointer;
    @include flex(center, center, row);
  }
}
