.contact {
  height: 100%;
  padding: 1.5rem;
}

.contact__form {
  position: relative;
  width: 85%;
  margin: 0 auto;
  height: 640px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 6px;
  @include flex(unset, unset, row);
  box-shadow: 0px 21px 41px -13px rgb(0 0 0 / 18%);
  &-form {
    padding: 24px;
    @include w_h(55%, 100%);
    @include flex(unset, unset, column);
    &-title {
      @include w_h(100%, 20%);
    }
    &-main {
      @include w_h(100%, 80%);
    }
    &-item {
      @include flex(unset, unset, row);
      gap: 1rem;
    }

    &-control {
      @include flex(unset, unset, row);
      outline: 0;
      width: 100%;
      height: 52px;
      background: #fff;
      color: #000;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 6px 12px;
      &.contact__form-form-control--textarea {
        height: 180px;
      }
    }

    textarea {
      resize: none;
    }
  }
  &-info {
    @include w_h(45%, 100%);
    &-wrap {
      margin-top: -20px;
      margin-bottom: -20px;
      height: -webkit-fill-available;
      background: #778fba;
      border-radius: 8px;
      padding: 24px;
      .contact__form-text {
        color: #fff;
      }
      .contact__form-text--title {
        font-weight: 900;
        font-size: 32px;
      }
      .contact__form-info-texts {
        @include flex(unset, unset, row);
        gap: 16px;
        .contact__form-info-icon {
          @include w_h(50px, 50px);
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          @include flex(center, center, row);
          .icon {
            color: #fff;
            font-size: 24px;
          }
        }
        .contact__form-info-text {
          @include w_h(90%, auto);
          @include flex(center, unset, row);
          .contact__form-text-info-text {
          }
        }
      }
    }
  }

}

  
.contact__form-btn--submit{
  width: 145px;
  padding: 16px 8px;
  margin: 0 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background-color: $primary-color;
}

